<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.fhstp.sonicontrol" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-feature android:name="android.hardware.audio.output" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <!-- Do we need android.hardware.audio.low_latency ? -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sc_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sc_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:installLocation="auto" >
        <activity android:name=".MainActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StoredLocations"
            android:label="Found Signals"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutUs"
            android:label="About Us"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>