<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SoniControlV0.SoniControlV0" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<application android:label="SoniControlV0" android:icon="@drawable/Icon"></application>
</manifest>